@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Bebas+Neue&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



.contact-page {
  min-height: 100vh;
  background-image: url(./images/gallery-1.jpg);
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  background-position: center;
  background-size: cover;
}

.contact-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: whitesmoke;
}




.contact-container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.contact-info {
  width: 40%;
  background-color: #3b2f2f;
  color: white;
  padding: 30px;
}

.contact-info h2 {
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-item span {
  font-size: 20px;
  margin-right: 10px;
}

.contact-form {
  width: 60%;
  padding: 30px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  padding: 12px;
  background-color: #3b2f2f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #5a3e36;
}

