@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Bebas+Neue&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F7B980;
}

.menu{
    font-size: 50px;
    color: black;
    margin-left: 720px;
    font-family: "Bebas Neue", sans-serif;
   
}


.menuu{
     border-color: orange;
    border-top: none;
    border-left: none;
    border-right: none;
    border: 1px solid;
}



 .card{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;

}


 .card1{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
    text-align: center;


}



 .card2{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}


.card3{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}



.card4{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}


.card5{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}

.button1{
   height: 50px;
   width: 150px;
    background-color: orange;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    
}


.card6{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}


.card7{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}


.card8{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}


.card9{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}


.card10{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}


.card11{
width: 300px;
height: 350px;
padding: 11px;
gap: 10px;
    border: 2px solid;
text-align: center;

}




h2{
    width: 300px;
    height: 90px;
    /* border: 2px solid; */
   font-size: 40px;
       font-family: "Bebas Neue", sans-serif;

}

.card img{
    width: 300px;
    height: 250px;
    background-image: url(./images/img1.png);
    background-position: center;
    background-size: cover;
   border-color: white;
   margin-left: -12px;
}



.card1 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/img2.png);
    background-position: center;
    background-size: cover;
   border-color: white;
       border: 1px solid;
   margin-left: -12px;

}



.card2 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/img3.png);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}



.card3 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/gallery-1.jpg);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}


.card4 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/gallery-2.jpg);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}


.card5 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/gallery-3.jpg);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}


.card6 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/gallery-4.jpg);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}

.card7 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/gallery-5.jpg);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}

.card8 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/gallery-6.jpg);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}

.card9 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/o6.png);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}

.card10 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/o4.png);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}

.card11 img{
    width: 300px;
    height: 250px;
    background-image: url(./images/o2.png);
    background-position: center;
    background-size: cover;
   border-color: white;
      margin-left: -12px;

}

.card-container{
    width: 200vh;
    height: 400px;
    /* border: 1px solid; */
    display: flex;
justify-content: center;

gap: 80px;
margin-top: 70px;


flex-wrap: wrap ;
}




























