@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Bebas+Neue&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bogle&family=Bebas+Neue&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background-color: #3b0f16;
}

/* Navbar */
.navbar {
width: 100%;
height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 70px;

}


/* Left logo */
.nav-logo {
display: flex;
align-items: center;
gap: 6px;
color: #fff;
font-size: 30px;
font-weight: 600;
  font-family: 'Poppins', sans-serif;

}


.coffee-icon {
font-size: 22px;
}

.brand{
    font-family: "Bebas Neue", sans-serif;
font-size: 22px;

}


.nav-links {
list-style: none;
display: flex;
    gap: 60px;
    margin-right: 220px;
  font-family: "BBH Bogle", sans-serif;

}


.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 22px;          
  border-radius: 25px;         
  transition: all 0.3s ease;   
}

.nav-links li a:hover {
  background-color: #f4a128;
  color: #ffffff;
}





/* Text content */
.text {
  margin-top: 100px;
  font-size: 2rem;
  color: #f4a128;
  font-family: 'Miniver', sans-serif;
      margin-left: 100px;
}


.text1 {
  width: 500px;
  font-size: 2rem;
  color: white;
  font-family: 'Poppins', sans-serif;
      margin-left: 100px;
}


.text2 {
  width: 500px;
  font-size: 1rem;
  color: white;
  font-family: 'Poppins', sans-serif;
        margin-left: 100px;

}

/* Button */
.order {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: #f4a128;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
        margin-left: 100px;
  font-family: "BBH Bogle", sans-serif;

}


.hero-right img {
    width: 300px;
    max-width: 100%;
    margin-left: 1000px;
    margin-top: -275px;
}


